html, body {
    height: 100%;
}


/* Global styles */
body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1;
    background-color: rgb(17, 32, 51);
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 100%; /* Change this value to adjust the width */
    padding: 20px;
    margin: auto;
}

article {
    display: inline-block;
    width: 450px;
    height: 600px;
    margin: 20px;
    margin-bottom: 40px;
    vertical-align: top;
    horiz-align: center;
}

details ul {
    margin: 0;
    padding: 0;
}

details {
    margin-bottom: 3px; /* or adjust as needed */
}

section {
    margin-bottom: 0;
}

.breadcrumb {
    background-color: rgba(255, 255, 255, 0.89);
    padding-top: 0px;
    padding-left: 10px;
    max-height: 60px;
    line-height: 0.7;
    border-radius: 5px;
}
