html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1;
    background-color: rgb(17, 32, 51);
    background-position: center;
    background-size: cover;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 100%; /* Change this value to adjust the width */
    padding: 20px;
    margin: auto;
}

h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}

