html, body {
    height: 100%;
}


/* Global styles */
body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1;
    background-color: rgb(17, 32, 51);
    background-position: center;
    background-size: auto;
}

.container {
    max-width: 100%; /* Change this value to adjust the width */
    padding: 20px;

}

article {
    width: 30%;
    min-height: 150px;
    margin: 20px auto; /* Set margin to auto horizontally */
}

.breadcrumb {
    background-color: rgba(255, 255, 255, 0.89);
    padding-top: 0px;
    padding-left: 10px;
    max-height: 60px;
    line-height: 0.7;
    border-radius: 5px;
}

.background {
    background-color: rgb(17, 32, 51);
    background-position: center;
    background-size: cover;
}

