html, body {
    height: 100%;
}

/* Global styles */
body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1;
}

.row {
    align-content: center;
}

.container {
    max-width: 100%; /* Change this value to adjust the width */
    padding: 20px;
    margin: auto;
}

article {
    display: inline-block;
    width: 97%;
    margin: 20px;
    vertical-align: top;
}

details ul {
    margin: 0;
    padding: 0;
}

details {
    margin-bottom: 3px; /* or adjust as needed */
}

section {
    margin-bottom: 0;
}

.detail-text {
    font-size: 0.8em;
    margin-left: 15px;
}

.task-title {
    font-size: 1.2em;
}


.background {
    background-color: rgb(17, 32, 51);
    background-position: center;
    background-size: cover;
}


.breadcrumb {
    background-color: rgba(255, 255, 255, 0.89);
    padding-top: 0px;
    padding-left: 10px;
    max-height: 60px;
    line-height: 0.7;
    border-radius: 5px;
}
