<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/allprojects.css">

</head>
<body>
<div class="background" data-theme="light">


    <main class="container">
        <nav class="breadcrumb">
            <ol>
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li><a href="/allprojects">All projects</a></li>
                <li role="list" dir="ltr">
                    <a href="#" aria-haspopup="listbox">Select project</a>
                    <ul role="listbox">
                        <li th:each="project : ${projects}">
                            <a th:href="@{/project/{projectID}(projectID=${project.id})}" th:text="${project.name}"></a>
                        </li>
                    </ul>
                </li>
            </ol>
        </nav>
        <div class="grid">
            <article th:each="project : ${projects}">
                <header style="background: rgb(227, 226, 226); text-align: center; height: 150px;">
                    <h3 th:text="${project.name}"></h3>
                </header>
                <div style="height: 290px;">
                    <p class="card-text" th:text="${project.description}"></p><br>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>Owner:</td>
                            <td><span th:text="${project.owner}"></span></td>
                        </tr>
                        <tr>
                            <td>Allocated time:</td>
                            <td><span th:text="${project.allocatedTime}"></span></td>
                        </tr>
                        <tr>
                            <td>Deadline:</td>
                            <td><span th:text="${project.deadline}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <footer>
                    <a class="btn btn-link btn-block btn-sm" th:href="@{'/project/' + ${project.id}}">Show full details</a>
                </footer>
            </article>


        </div>
    </main>
</div>
</body>
</html>

