<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link th:href="@{FormCSS.css}"  rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>

<div id="formDivUser" >
<h1 align="center">Create new user</h1>
<form action="#" method="post" th:object="${user}">
    <div>
        <label>Username</label>
        <input type="text" name="name" required>
    </div>

    <div>
        <label>User role</label>
    <select id="role" th:field="*{role}">
    <option th:each="role : ${roles}" th:value="${role}" th:text="${role}">
    </select>

<button type="submit">Submit</button>
<button type="reset">Reset</button>

    </div>
</form>


</div>
</body>
</html>