<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{FormCSS.css}"  rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css">
    <title>Create Project</title>
</head>
<body>
    <div  id="formDivProject">
        <h1 align="center">Create new project</h1>
    <form action="#" method="post" th:object="${project}">
        <div>
            <label>Project name</label>
            <input type="text" name="name" required>
        </div>

        <div>
            <label>Project description</label>
            <input type="text" name="description" required>
        </div>

        <div>
            <label>Owner</label>


            <select name="ownerID" required>
                <option value="" disabled selected>Select owner</option>
                <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.name}" required></option> <!-- th:selected="${user.id == project.owner.id}" -->
            </select>

        </div>

        <div>
            <label>Project deadline</label>
            <input type="date" name="deadline"align="center" required>
        </div>

        <button type="submit" >Submit</button>
        <button type="reset">Reset</button>

    </form>
</div>

</body>
</html>