<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css" rel="stylesheet">
    <link href="/homepage.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="hero" data-theme="dark">
    <!-- Navbar -->
    <header class="container">
        <nav class="breadcrumb">
            <ol>
                <li><a class="link-dark" href="/" style="background-color:#a6d6fd; height: 35px">Startside</a></li>
                <li><a class="link-dark" href="/allprojects">Alle projekter</a></li>
                <li dir="ltr" role="list">
                    <a aria-haspopup="listbox" class="link-dark" href="#">Vælg projekt</a>
                    <ul role="listbox">
                        <li th:each="project : ${projects}">
                            <a th:href="@{/project/{projectID}(projectID=${project.id})}" th:text="${project.name}"></a>
                        </li>
                    </ul>
                </li>
                <li dir="ltr" role="list">
                    <a aria-haspopup="listbox" class="link-dark" href="#">Vælg underprojekt</a>
                    <ul role="listbox">
                        <li th:each="subproject : ${subprojects}">
                            <a th:href="@{/subproject/{subproject}(subproject=${subproject.id})}"
                               th:text="${subproject.name}"></a>
                        </li>
                    </ul>
                </li>
            </ol>
            <ol style="float: right; margin-right: 10px">
                <li class="breadcrumb-item"><a class="link-dark" href="/profile">Din profil</a></li>
                <li class="breadcrumb-item"><a class="link-dark" href="/logout">Log ud</a></li>
            </ol>
        </nav>

        <!-- Headline-->
        <hgroup style="padding-top: 20px">
            <h1>Velkommen til ProjectManagementTool</h1>
            <h2>Et brugervenligt værktøj til at styre dine projekter</h2>
        </hgroup>
    </header>
</div>
<main class="container" data-theme="light">
    <div class="grid">
        <section>
            <hgroup>
                <b class="btn btn-primary" data-bs-target="#staticBackdrop4" data-bs-toggle="modal" style="float: right"
                   type="button"> Opret ny bruger
                </b>
                <h2>Eksamensprojekt Maj 2023 </h2>
                <h3>Af Paul, Mohamed og Asger </h3>
            </hgroup>

            <!-- User Creation Modal -->

            <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"
                 data-bs-keyboard="false" id="staticBackdrop4" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <h1 align="center">Opret ny bruger</h1>
                            <form action="createUser" method="post" th:object="${user}">
                                <div>
                                    <label>Navn</label>
                                    <input name="name" required type="text">
                                </div>
                                <div>
                                    <label>Email</label>
                                    <input name="email" required type="text"
                                           th:pattern="'[^@\s]+@[^@\s]+\.[^@\s]+$'"
                                           placeholder="test@mailˇ.com">
                                </div>
                                <div>
                                    <label>Adgangskode</label>
                                    <input name="password" required type="password" placeholder="*******************">
                                </div>
                                <div>
                                    <label>Rolle</label>
                                    <select id="role" th:field="*{role}">
                                        <option th:each="role : ${roles}" th:text="${role}" th:value="${role}">
                                    </select>
                                    <button class="btn btn-success" type="submit">Opret bruger</button>
                                    <button class="btn btn-danger" data-bs-dismiss="modal" type="button">
                                        Annuller
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script crossorigin="anonymous"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</main>
</body>
</html>



