    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/index.css">

    </head>
    <body>
    <div class="background" data-theme="light">
        <main class="container">
            <nav class="breadcrumb">
                <ol>
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li><a href="/allprojects">All projects</a></li>
                    <li role="list" dir="ltr">
                        <a href="#" aria-haspopup="listbox">Select project</a>
                        <ul role="listbox">
                            <li th:each="project : ${projects}">
                                <a th:href="@{/project/{projectID}(projectID=${project.id})}" th:text="${project.name}"></a>
                            </li>
                        </ul>
                    </li>
                </ol>
            </nav>

            <div class="grid">
                <article>
                    <h2 style="text-align: center" class="card-title">Projects</h2>
                    <p class="card-text">Get an overview of projects or create new projects</p>
                    <a type="button" href="/allprojects" class="btn btn-secondary btn-lg btn-block" role="button">All
                        projects</a>
                    <a type="button" href="createProject" class="btn btn-secondary btn-lg btn-block" role="button">Create a
                        project</a>
                </article>
                <article>
                    <h2 style="text-align: center" class="card-title">Users</h2>
                    <p class="card-text">Get an overview of user profiles or create new user profiles</p>

                    <a type="button" href="" class="btn btn-secondary btn-lg btn-block" role="button">All users</a>
                    <a type="button" href="createUser" class="btn btn-secondary btn-lg btn-block" role="button">Create a
                        user</a>
                </article>
            </div>
        </main>
    </div>
    </body>
    </html>


