<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Sign in example • Pico.css</title>
    <meta content="A minimalist layout for Login pages. Built with Pico CSS." name="description"/>
    <!-- Custom styles for this example -->

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css" rel="stylesheet">
    <link href="/login.css" rel="stylesheet" type="text/css">
</head>

<body>
<main class="container">

    <!-- Navbar -->
    <nav class="breadcrumb">
        <ol>
            <li class="breadcrumb-item"><a class="link-dark" href="/">Startside</a></li>
            <li><a class="link-dark" href="/allprojects">Alle projekter</a></li>
            <li dir="ltr" role="list">
                <a aria-haspopup="listbox" class="link-dark" href="#">Vælg projekt</a>
                <ul role="listbox">
                    <li th:each="project : ${projects}">
                        <a th:href="@{/project/{projectID}(projectID=${project.id})}" th:text="${project.name}"></a>
                    </li>
                </ul>
            </li>
            <li dir="ltr" role="list">
                <a aria-haspopup="listbox" class="link-dark" href="#">Vælg underprojekt</a>
                <ul role="listbox">
                    <li th:each="subproject : ${subprojects}">
                        <a th:href="@{/subproject/{subproject}(subproject=${subproject.id})}"
                           th:text="${subproject.name}"></a>
                    </li>
                </ul>
            </li>
        </ol>
        <ol style="float: right; margin-right: 10px">
            <li class="breadcrumb-item"><a class="link-dark" href="/profile">Din profil</a></li>
            <li class="breadcrumb-item"><a class="link-dark" href="/logout">Log ud</a></li>
        </ol>
    </nav>

    <!-- Login form -->
    <article class="grid">
        <div>
            <hgroup>
                <h1>Log ind</h1>
                <h2></h2>
            </hgroup>
            <form method="post" th:action="@{/login}">
                <p class="error" th:if="${wrongCredentials}">Forkert email eller password</p>
                <p><label>Email:</label>
                    <input autofocus name="email" type="text">
                </p>
                <p>
                    <label>Adgangskode:</label>
                    <input name="password" type="password">
                </p>
                <p>
                    <button type="submit">Log ind</button>
                    <a th:href="@{'/'}">
                        <button type="button">Fortryd</button>
                    </a>
                </p>
                <input th:name="returnUrl" th:value="${returnUrl}" type="hidden"/>
            </form>
        </div>
        <div></div>
    </article>
</main>
</body>
</html>



