<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        .card {
            background-color: rgba(191, 216, 196, 0.36);
            min-width: 1000px;
            min-height: 150px;
            margin-top: 20px;
            margin-right: 20px;
        }

        .container {
            max-width: 1500px; /* Change this value to adjust the width */
        }

        body {
            font-family: 'Titillium Web', sans-serif;
        }

        .badge {
            font-size: 100%;

        }
    </style>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a>[[${project.name}]]</a></li>
    </ol>
</nav>


<div class="container">
    <div class="row">
        <div th:each="subproject : ${subprojects}">
            <div class="card border-info mb-3" align="left">
                <div class="card-body">
                    <a href="#" class="btn btn-info float-right" th:href="@{'/subproject/' + ${subproject.id}}">Show full overview</a>
                    <h3 class="text-center" th:text="${subproject.name}"></h3>
                </div>
                <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Description: <span th:text="${subproject.description}"></span></li>
                    <li class="list-group-item">Owner: <span th:text="${subproject.owner}"></span></li>
                    <li class="list-group-item">Allocated time: <span th:text="${subproject.allocatedTime}"></span></li>
                    <li class="list-group-item">Deadline: <span th:text="${subproject.deadline}"></span></li>
                </ul>
                </div>
                <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="task : ${tasks}" th:if="${task.subprojectID == subproject.id}">
                        <span th:switch="${task.status}">
                            <span th:case="'Done'" class="alert alert-success" role="alert">[[${task.name}]] </span>
                            <span th:case="'Doing'" class="alert alert-warning" role="alert">[[${task.name}]]. DEADLINE: [[${task.deadline}]]</span>
                            <span th:case="'TODO'" class="alert alert-danger" role="alert">[[${task.name}]]. DEADLINE: [[${task.deadline}]]</span>
                        </span>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
