<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css" rel="stylesheet">
    <link href="/subproject.css" rel="stylesheet" type="text/css">


</head>
<body>
<div class="background" data-theme="light">
    <main class="container">

        <!-- Navbar -->
        <nav class="breadcrumb">
            <ol>
                <li class="breadcrumb-item"><a class="link-dark" href="/">Startside</a></li>
                <li><a class="link-dark" href="/allprojects">Alle projekter</a></li>
                <li dir="ltr" role="list">
                    <a aria-haspopup="listbox" class="link-dark" href="#">[[${project.name}]]</a>
                    <ul role="listbox">
                        <li th:each="project : ${projects}">
                            <a th:href="@{/project/{projectID}(projectID=${project.id})}" th:text="${project.name}"></a>
                        </li>
                    </ul>
                </li>
                <li dir="ltr" role="list">
                    <a aria-haspopup="listbox" class="link-dark" href="#" style="background-color:#a6d6fd; height: 35px">[[${subproject.name}]]</a>
                    <ul role="listbox">
                        <li th:each="subproject : ${subprojects}">
                            <a th:href="@{/subproject/{subproject}(subproject=${subproject.id})}"
                               th:text="${subproject.name}"></a>
                        </li>
                    </ul>
                </li>
            </ol>
            <ol style="float: right; margin-right: 10px">
                <li class="breadcrumb-item"><a class="link-dark" href="/profile">Din profil </a></li>
                <li class="breadcrumb-item"><a class="link-dark" href="/logout">Log ud</a></li>
            </ol>
        </nav>

        <!-- View of all tasks in the subproject -->
        <div class="grid">
            <article>
                <header style="background: rgb(227, 226, 226); text-align: center; height: 120px;">
                    <h3 th:text="${subproject.name}"></h3>
                </header>
                <header style="background: rgb(243,243,243); text-align: center; height: 70px;">
                    <span th:text="'Status: '+ ${subproject.timeSpent} +' / '+ ${subproject.allocatedTime} + ' timer'"></span>
                    <td><progress th:max="${subproject.allocatedTime}" th:value="${subproject.timeSpent}" style="height: 20px"></progress></td>
                </header>
                <div>
                    <p class="card-text" th:text="${subproject.description}"></p><br>
                </div>
                <!-- Button trigger modal -->
                <a class="btn btn-outline-dark" style="background-color: white; margin-top: 5px; float:right" data-bs-target="#staticBackdrop" data-bs-toggle="modal" type="button">
                    Tilføj en ny opgave
                </a>

                <!-- View of the subproject details -->
                <table class="table table-striped" style="width: 70%">
                    <tbody>
                    <tr>
                        <td>Projektleder:</td>
                        <td><span th:text="${subproject.owner.name}"></span></td>
                    </tr>
                    <tr>
                        <td>Resterende fulde arbejdsdage: </td>
                        <td><span th:text="${subproject.allocatedTimeInWorkdays} + ' dage'"></span></td>
                    </tr>
                    <tr>
                        <td>Estimeret daglig arbejdstid indtil deadline:</td>
                        <td><span th:text="${subproject.hoursPerDayUntilDeadline} + ' timer/dag'"></span></td>
                    </tr>
                    <tr>
                        <td>Deadline:</td>
                        <td><span th:text="${subproject.deadline}"></span></td>
                    </tr>
                    <tr>
                        <td>Opgaver tæt på deadline:</td>
                        <td>
                            <button aria-controls="collapseExample" aria-expanded="false" class="btn btn-primary btn-sm"
                                    data-bs-target="#collapseExample" data-bs-toggle="collapse"
                                    style="width: 350px; height: 50px;" type="button">
                                <p th:text="${deadLineList.size()} + ' deadlines indenfor 10 dage'"></p>
                            </button>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body" style="width: 350px;">
                                    <li th:each="taskDeadline : ${deadLineList}">
                                        <a th:text="${taskDeadline.name} + ': ' + ${taskDeadline.deadline}"></a>
                                    </li>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"
                     data-bs-keyboard="false" id="staticBackdrop" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Tilføj en ny opgave</h1>
                            </div>
                            <div class="modal-body">
                                <form method="post" style="text-align: center;"
                                      th:action="@{${subproject.id} + '/create_task'}" th:object="${task}">
                                    <div style="color: white">
                                        <div>
                                            <input name="name" placeholder="Navn" required style="width: 100%;" type="text">
                                        </div>
                                        <div>
                                            <input name="description" placeholder="Beskrivelse" required style="width: 100%;" type="text">
                                        </div>
                                        <div>
                                            <input name="allocatedTime" placeholder="Allokeret tid" required style="width: 100%;" type="number">
                                        </div>
                                        <div>
                                            <input name="deadline" placeholder="Deadline" required style="width: 100%;" type="date">
                                        </div>
                                        <div>
                                            <select name="ownerID" required>
                                                <option disabled selected value="">Vælg ansvarlig</option>
                                                <option th:each="user : ${all_users}" th:text="${user.name}" th:value="${user.id}">
                                                    <input th:name="ownerID" th:value="${user.id}" type="hidden"/>
                                                </option>
                                            </select>
                                        </div>
                                        <div>
                                            <label>ID</label>
                                            <input name="subprojectID" required style="width: 100%;" th:value="${subproject.id}" type="hidden">
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success" type="submit">Opret opgave</button>
                                            <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Annuller</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Kanban board -->
                <div class="container">
                    <div class="row">
                        <button class="btn btn-outline-dark" style="background-color: white;" id="expandButton">Udvid alle opaver</button>

                        <!-- TO DO -->
                        <div class="col">
                            <div th:href="${subproject}">
                                <div class="card-body">
                                    <h3 class="text-center float-middle">TODO</h3>
                                </div>
                                <tr th:each="task : ${todo}" th:if="${task.subprojectID == subproject.id}">
                                    <section id="accordions" style="width: 100%">
                                        <details closed
                                                 th:class="${(task.status == 'Done') ? 'task-done' : ((task.status == 'Doing') ? 'task-doing' : 'task-not-started')}">

                                            <summary class="task-title" th:text="${task.name}"></summary>
                                            <p class="task-description" th:text="${task.description}"></p>
                                            <ul class="task-details">
                                                <p><span class="detail-text" th:text="${'Allokeret tid: ' + task.allocatedTime + ' hours'}"></span></p>
                                                <p><span class="detail-text" th:text="${'Deadline: ' + task.deadline}"></span></p>
                                                <p><span class="detail-text" th:text="${'Ansvarlig: ' + task.owner.name}"></span></p>
                                            </ul>

                                            <!-- Move tasks -->
                                            <div class="card-body">
                                                <div class="card-body d-flex justify-content-between">

                                                    <!-- ARCHIVE TASK. -->
                                                    <form method="post"
                                                          th:action="@{${subprojectID} + '/move_task_to_archived'}" th:object="${task}">
                                                        <input th:name="taskId" th:value="${task.id}" type="hidden"/>
                                                        <input th:name="returnUrl" th:value="${returnUrl}" type="hidden"/>

                                                        <button class="btn btn-outline-dark" style="background-color: white;width: 100px" type="submit">Arkiver</button>
                                                    </form>


                                                    <!-- Move to Doing -->
                                                    <form method="post"
                                                          th:action="@{${subprojectID} + '/moveTaskToDoing'}"
                                                          th:object="${task}">

                                                        <!-- The following value in th:value = taskID is sent to @requestparam in the controller
                                                        when the form is submitted -->

                                                        <input th:name="taskId" th:value="${task.id}" type="hidden"/>
                                                        <input th:name="returnUrl" th:value="${returnUrl}"
                                                               type="hidden"/>
                                                        <button class="btn btn-outline-dark" style="background-color: white; width: 100px"
                                                                type="submit">
                                                            Doing
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </details>
                                    </section>
                                </tr>
                            </div>
                        </div>


                        <!-- DOING -->

                        <div class="col">
                            <div th:href="${subproject}">
                                <div class="col">
                                    <div class="card-body">
                                        <h3 class="text-center float-middle">DOING</h3>
                                    </div>
                                    <tr th:each="task : ${doing}" th:if="${task.subprojectID == subproject.id}">
                                        <section id="accordions" style="width: 100%">
                                            <details closed
                                                     id="accordion${task.id}"
                                                     th:class="${(task.status == 'Done') ? 'task-done' : ((task.status == 'Doing') ? 'task-doing' : 'task-not-started')}">
                                                <summary class="task-title" th:text="${task.name}"></summary>
                                                <p class="task-description" th:text="${task.description}"></p>
                                                <ul class="task-details">
                                                    <p><span class="detail-text" th:text="${'Allokeret tid: ' + task.allocatedTime + ' hours'}"></span></p>
                                                    <p><span class="detail-text" th:text="${'Deadline: ' + task.deadline}"></span></p>
                                                    <p><span class="detail-text" th:text="${'Ansvarlig: ' + task.owner.name}"></span></p>
                                                </ul>

                                                <!-- move -->
                                                <div class="card-body">

                                                    <div class="card-body d-flex justify-content-between">

                                                        <!-- Move to to-do -->
                                                        <form method="post"
                                                              th:action="@{${subprojectID} + '/moveTaskToTodo'}" th:object="${task}">
                                                            <input th:name="taskId" th:value="${task.id}" type="hidden"/>
                                                            <input th:name="returnUrl" th:value="${returnUrl}" type="hidden"/>
                                                            <button class="btn btn-outline-dark" style="background-color: white; width: 100px" type="submit">Todo</button>
                                                        </form>

                                                        <!-- ARCHIVE TASK. -->

                                                        <form method="post"
                                                              th:action="@{${subprojectID} + '/move_task_to_archived'}" th:object="${task}">
                                                            <input th:name="taskId" th:value="${task.id}" type="hidden"/>
                                                            <input th:name="returnUrl" th:value="${returnUrl}" type="hidden"/>
                                                            <button class="btn btn-outline-dark" style="background-color: white; width: 100px"
                                                                    type="submit">Arkiver</button>
                                                        </form>

                                                        <!-- Move to Done -->
                                                        <form method="post"
                                                              th:action="@{${subprojectID} + '/moveTaskToDone'}" th:object="${task}">
                                                            <input th:name="taskId" th:value="${task.id}" type="hidden"/>
                                                            <input th:name="returnUrl" th:value="${returnUrl}" type="hidden"/>
                                                            <button class="btn btn-outline-dark" style="background-color: white; width: 100px"
                                                                    type="submit">Done</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </details>
                                        </section>
                                    </tr>
                                </div>
                            </div>
                        </div>


                        <!-- DONE -->

                        <div class="col">
                            <div th:href="${subproject}">
                                <div class="status-column mb-3">
                                    <div class="card-body">
                                        <h3 class="text-center float-middle">DONE</h3>
                                    </div>
                                    <tr th:each="task : ${done}" th:if="${task.subprojectID == subproject.id}">
                                        <section id="accordions" style="width: 100%">

                                            <details closed
                                                     th:class="${(task.status == 'Done') ? 'task-done' : ((task.status == 'Doing') ? 'task-doing' : 'task-not-started')}">

                                                <summary class="task-title" th:text="${task.name}"></summary>
                                                <p class="task-description" th:text="${task.description}"></p>
                                                <ul class="task-details">
                                                    <p><span class="detail-text" th:text="${'Allokeret tid: ' + task.allocatedTime + ' hours'}"></span></p>
                                                    <p><span class="detail-text" th:text="${'Deadline: ' + task.deadline}"></span></p>
                                                    <p><span class="detail-text" th:text="${'Ansvarlig: ' + task.owner.name}"></span></p>
                                                </ul>

                                                <!-- Move to Doing -->
                                                <div class="card-body">
                                                    <div class="card-body d-flex justify-content-between">
                                                        <form method="post"
                                                              th:action="@{${subprojectID} + '/moveTaskToDoing'}"
                                                              th:object="${task}">

                                                            <!-- The following value in th:value = taskID is sent to @requestparam in the controller
                                                            when the form is submitted -->
                                                            <input th:name="taskId" th:value="${task.id}" type="hidden"/>
                                                            <input th:name="returnUrl" th:value="${returnUrl}" type="hidden"/>
                                                            <button class="btn btn-outline-dark" style="background-color: white; width: 100px"
                                                                    type="submit">Doing</button>
                                                        </form>

                                                        <!-- ARCHIVE TASK. -->

                                                        <form method="post"
                                                              th:action="@{${subprojectID} + '/move_task_to_archived'}" th:object="${task}">
                                                            <input th:name="taskId" th:value="${task.id}" type="hidden"/>
                                                            <input th:name="returnUrl" th:value="${returnUrl}" type="hidden"/>
                                                            <button class="btn btn-outline-dark" style="background-color: white; width: 100px"
                                                                    type="submit">Arkiver</button>
                                                        </form>
                                                        </a>
                                                    </div>
                                                </div>
                                            </details>
                                        </section>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </article>
        </div>
        <script>
            // Get the expand button
            const expandButton = document.getElementById('expandButton');

            // Add a click event listener to the expand button
            expandButton.addEventListener('click', function () {
                // Get all the details elements
                const detailsElements = document.querySelectorAll('details');

                // Loop through each details element
                detailsElements.forEach(function (detailsElement) {
                    // Toggle the open state of each details element
                    detailsElement.open = !detailsElement.open;
                });
            });
        </script>

        <script crossorigin="anonymous"
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    </main>
</div>
</body>
</html>
